{% extends 'base.html' %}
{% block content %}
{% if category_posts %}
<h1>{{ cats }} Categories</h1>
{% for post in category_posts %}
<li><a href="{% url 'article' post.pk %}">{{ post.title }}</a>- {{ post.author }} <br/>
    {{ post.body }} -
    {{ post.published_date }} -<small>
        {% if user.is_authenticated %}
        <a href="{% url 'editpost' post.pk %}">(Edit)</a>
        <a href="{% url 'deletepost' post.pk %}">(Delete)</a>
        {% endif %}
    </small>
</li>
{% endfor %}
{% else %}
<h2>Page does not exist </h2>
{% endif %}
{% endblock %}